<div id="login">
    <div class="container">
      <div id="login-row" class="row justify-content-center align-itens-center">
        <div id="login-column" class="cd-md-6">
          <div id="login-box" class="cd-md-12">
            <form id="login-form" class="form" action="" method="post">
              <h3 class="text-center text-info">Login</h3>
              <div class="form-group">
                <label for="email" class="text-info">Email</label><br>
                <input type="text" name="iptemail" id="iptemailID" class="form-control">
              </div>
              <div class="form-group">
                <label for="password" class="text-info">Senha </label><br>
                <input type="password" name="iptsenha" id="iptsenhaID" class="form-control">
              </div>
              <div class="form-group">
                <input type="submit" name="iptentrar"  class="btn btn-success btn-block" value="Entrar">
              </div>
              <div id="novasenha" class="text-right">
                <a href="#" class="text-info">Esqueci minha senha</a>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>